h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
h3 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: black;
}